.action-button.btn-group .dropdown-toggle:after {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    font: normal normal normal 24px/1 "feather";
    content: "";
    width: auto;
    height: auto;
    vertical-align: middle;
    line-height: 0.625rem;
    font-size: 10px;
    margin-left: 0px;
}

.dropdown-item-pad{
    padding: 12px 13px !important;
}

.action-button > .btn {
    width: 38px !important;
    height: 35px !important;
    padding: 2px;
    background-color: white !important;
    color: black !important;
    border: none !important;
    font-weight: 900;
}
.action-button > .btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.action-button > .btn > i {
    font-size: 14px;
}

.in-dropdown-button {
    background: white;
    border: none;
    width: 100%;
    text-align: left;
}

.in-dropdown-button:hover {
    color: #727cf5;
    background-color: rgba(114, 124, 245, 0.1);
}
